[submodule "lcp"]
	path = lcp
	url = https://github.com/datachainlab/lcp
[submodule "tests/e2e/chains/xion/xion"]
	path = tests/e2e/chains/xion/xion
	url = https://github.com/datachainlab/xion.git
[submodule "cosmwasm-ibc"]
	path = cosmwasm-ibc
	url = https://github.com/informalsystems/cosmwasm-ibc.git
[submodule "ethereum-ibc-cw"]
	path = ethereum-ibc-cw
	url = https://github.com/datachainlab/ethereum-ibc-cw.git
